body {
    font-family: sans-serif;
    background-color: #f7f7f7;
  }
  #main {
    padding: 20px;
    margin: 0 auto;
    width: 700px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
  }
  h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }